<div class="navbar">
    <div class="brand">
        <a href="/home" class="main-text">Journal Publication App</a>
    </div>
    <nav>
        <ul>
            <li *ngIf="isLoggedIn"><a href="/home" routerLink="/journallist">Home</a></li>
            <li *ngIf="!isLoggedIn"><a href="/login" routerLink="/login">Login</a></li>
            <li *ngIf="!isLoggedIn"><a href="/signup" routerLink="/signup">Signup</a></li>
            <li *ngIf="isLoggedIn"><a href="/create-journals" routerLink="/journals">Create</a></li>
            <li *ngIf="isLoggedIn"><a href="/my-journals">My Journals</a></li>
            <li class="btn" *ngIf="isLoggedIn">
                <button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</div>