<div class="journals-container">
    <table class="journals-table" border="1px">
        <thead *ngIf="journals.length > 0">
            <tr>
                <th>S.No</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Abstract</th>
                <th>Publication Date</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let journal of journals; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <a [routerLink]="['/journals', journal._id]">{{ journal.title }}</a>
                </td>
                <td>{{ journal.authors.join(', ') }}</td>
                <td>{{ journal.abstract }}</td>
                <td>{{ journal.createdAt | dateFormat }}</td> <!-- Use the dateFormat pipe -->
                <td>
                    <button (click)="deleteMyJournal(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="length <= 0">
        <h2>No Journals Found</h2>
    </div>
</div>
