<div class="journal-form">
  <form [formGroup]="journalForm" (ngSubmit)="handleJournalUpdate()">
      <h3>Update Journal</h3>
      
      <!-- Title Input -->
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Enter the Title" required formControlName="title">
      
      <!-- Authors Input (Comma-separated) -->
      <label for="authors">Authors (Comma-separated)</label>
      <input type="text" name="authors" id="authors" required formControlName="authors" placeholder="Enter Authors (comma-separated)">
      
      <!-- Content Textarea -->
      <label for="content">Main Content</label>
      <textarea name="content" id="content" formControlName="content" placeholder="Enter the Main Content" rows="10"></textarea>
      
      <!-- Abstract Input -->
      <label for="abstract">Abstract</label>
      <textarea name="abstract" id="abstract" formControlName="abstract" placeholder="Enter the Abstract" rows="5"></textarea>
      
      <!-- Description Input -->
      <label for="description">Description</label>
      <textarea name="description" id="description" formControlName="description" placeholder="Enter the Description" rows="5"></textarea>
      
      <!-- Conclusion Input -->
      <label for="conclusion">Conclusion</label>
      <textarea name="conclusion" id="conclusion" formControlName="conclusion" placeholder="Enter the Conclusion" rows="5"></textarea>
      
      <!-- References Input (Comma-separated) -->
      <label for="references">References (Comma-separated)</label>
      <input type="text" name="references" id="references" required formControlName="references" placeholder="Enter References (comma-separated)">
      
      <!-- Submit Button -->
      <button type="submit" [disabled]="journalForm.invalid">Update</button>
  </form>
</div>
